<div class="card filters">
  <h3>Filters</h3>
  <div class="launchYear">
    <p class="filterTitle">Launch Year</p>
    <div class="years">
      <div class="year" *ngFor="let year of yearFilters;let i=index;">
        <p class="box" [ngClass]="{'activeBox': isActiveYear && i==selectedIndex}"
          (click)="filterRequest({launch_year:year},i,year)">
          {{year}}
        </p>
      </div>
    </div>
  </div>
  <p class="filterTitle">Successful Launch</p>
  <div class="launch">
    <div class="box" [ngClass]="{'activeBox': isLaunch}" (click)="launchFIlter({launch_success:true});">
      True
    </div>
    <div class="box" [ngClass]="{'activeBox': isLaunch==false}" (click)="launchFIlter({launch_success:false});">False
    </div>
  </div>
  <p class="filterTitle">Successful Landing</p>
  <div class="landing">
    <div class="box" [ngClass]="{'activeBox': isLand}" (click)="landFilter({land_success:true})">True
    </div>
    <div class="box" [ngClass]="{'activeBox': isLand==false}" (click)="landFilter({land_success:false});">
      False
    </div>

  </div>
