<div class="card filters">
  <h3>Filters</h3>
  <div class="launchYear">
    <p class="filterTitle">Launch Year</p>
    <div class="years">
      <div class="year" *ngFor="let year of yearFilters;let i=index;">
        <p class="box" [ngClass]="{'activeBox': isActiveYear && i==selectedIndex}"
          (click)="setActiveYear(i,year);filterRequest({launch_year:year},i)">
          {{year}}
        </p>
      </div>
    </div>
  </div>
  <p class="filterTitle">Successful Launch</p>
  <div class="launch">
    <div class="box" [ngClass]="{'activeBox': isLaunch}" (click)="filterRequest({launch_success:true});isLaunch=true">
      True
    </div>
    <div class="box" [ngClass]="{'activeBox': isLaunch==false}"
      (click)="filterRequest({launch_success:false});isLaunch=false">False
    </div>
  </div>
  <p class="filterTitle">Successful Landing</p>
  <div class="landing">
    <div class="box" [ngClass]="{'activeBox': isLand}" (click)="filterRequest({land_success:true});isLand=true">True
    </div>
    <div class="box" [ngClass]="{'activeBox': isLand==false}"
      (click)="filterRequest({land_success:false});isLand=false">
      False
    </div>
    <! /div>
  </div>
