.filters {
  background: #fff;
  padding: 10px;

  .filterTitle {
    border-bottom: 2px solid;
    width: fit-content;
    margin: 5px auto;
  }
  .launchYear {
    margin: 20px 0px;
    .years {
      display: grid;
      grid-template-columns: auto auto;
      text-align: center;
    }
  }
  .box {
    background: #8fd68f;
    margin: 5px auto;
    padding: 5px 7px;
    font-weight: bold;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .activeBox {
    background: #55aa55;
    color: #fff;
  }
  .launch,
  .landing {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 700px) {
  .filters {
    .box {
      padding: 5px 3px;
    }
  }
}
