.container {
  background: rgb(226, 223, 223);
  padding: 10px 0px;
  min-width: 366px;
  h1 {
    white-space: nowrap;
    padding: 10px !important;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .filter {
      // width: 100%;
      padding: 0px 20px;
    }
    .launches {
      // width: 100%;

      padding: 0px;
      .noData {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
@media (min-width: 700px) {
  .container {
    .content {
      flex-direction: row;
      .filter {
        width: 25%;
      }
      .launches {
        width: 75%;
        padding: 0px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .container {
    .content {
      flex-direction: row;
      .filter {
        width: 20%;
      }
      .launches {
        width: 80%;
        padding: 0px 20px;
      }
    }
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: auto;
    // .content {
    //   flex-direction: row;
    //   .filter {
    //     width: 25%;
    //   }
    //   .launches {
    //     width: 75%;
    //   }
    // }
  }
}
// .container {
//   max-width: 1440px;
//   margin: auto;
// }
