/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

h1,
h3,
h5 {
  margin: 0px;
}

.card {
  border-radius: 5px;
  box-shadow: 1px 2px 7px -4px #bfbfbf;
}
